<h1>Welcome to game table, <%=session[:player].name%>!</h1>
<h2>You bet $<%=session[:player].bets%></h2>

<% unless @player_choice == '' %>
  <h2>You chose <%= @player_choice %> </h2>
<% end %>

<% if @result_msg %>
  <%= erb :"partials/result"%>
<% end %>

<% if session[:game_stage] == GAME_STAGES[:turn_dealer] %>
  <div class="alert alert-info">
    Dealer chose to <%= session[:dealer].choice == 'h' ? 'hit' : 'stay' %> !
  </div>
<% end %>

<div class="alert alert-info">
  It's <%= session[:game_stage] %>
</div>

<% if @show_continue %>
  <%= erb :"partials/continue"%>
<% end %>

<br>

<% if session[:dealer] && session[:player] %>
  <p>
    Dealer's hand: <br>
    <% session[:dealer].show_hand(@hide_first_card).each do |card_url| %>
      <img src="<%= card_url %>" alt="">
    <% end %>
    <br>
    Your hand: <br>
    <% session[:player].show_hand.each do |card_url| %>
      <img src="<%= card_url %>" alt="">
    <% end %>
    <br>
  </p>
<% end %>

<% if @show_hit_or_stay %>
  <form action="/game/hit_or_stay" method="post">
    <button type="submit" value="h" name="hit_or_stay">Hit</button>
    <button type="submit" value="s" name="hit_or_stay">Stay</button>
  </form>
<% end %>
