<h1>Welcome to game table, <%=session[:player].name%>!</h1>
<h2>You bet $<%=session[:player].bets%></h2>
<% unless session[:player].choice == '' %>
  <h2>You chose <%= session[:player].choice %> </h2>
<% end %>

<% if @show_continue %>
  <%= erb :"partials/continue"%>
<% end %>

<br>

<% if session[:dealer] && session[:player] %>
  <p>
    Dealer's hand: <br>
    <%= session[:dealer].show_hand%> <br>
    Your hand: <br>
    <%= session[:player].show_hand%> <br>
  </p>
<% end %>

<% if @show_hit_or_stay %>
  <form action="/game/hit_or_stay" method="post">
    <button type="submit" value="h" name="hit_or_stay">Hit</button>
    <button type="submit" value="s" name="hit_or_stay">Stay</button>
  </form>
<% end %>
